In [1]:
#import pandas library
import pandas as pd

In [9]:
#Creating Data Frame
df=pd.DataFrame([[10,12,14,16,19],[11,14,18,19,20],[20,25,26,27,23]],
columns=["CD","DBMS","DSS","CAO","DM" ])

In [10]:
df

   CD  DBMS  DSS  CAO  DM
0  10    12   14   16  19
1  11    14   18   19  20
2  20    25   26   27  23

In [11]:
df.shape

(3, 5)

In [13]:
df.size

15

In [37]:
df.ndim

2

In [18]:
df2=pd.DataFrame([[5,6,7,8,9]],
 columns=["CD","DBMS","DSS","CAO","DM"])

In [34]:
df.loc[len(df)]=[5,6,7,8,9]

In [35]:
df

   CD  DBMS  DSS  CAO  DM
0  10    12   14   16  19
1  11    14   18   19  20
2  20    25   26   27  23
3   5     6    7    8   9

In [31]:
df4=df3.drop(index=[1])

In [32]:
df4

   CD  DBMS  DSS  CAO  DM
0   5     6    7    8   9

In [38]:
#Finding mean of DSS
print("Mean of DSS:",df4["DSS"].mean())

Mean of DSS: 7.0

In [39]:
#Finding median of DSS
print("Median of DSS:",df4["DSS"].median())

Median of DSS: 7.0

In [40]:
#Finding mode of DSS
print("Mode of DSS:",df4["DSS"].mode())

Mode of DSS: 0    7
Name: DSS, dtype: int64

In [41]:
# Creating name list
Name=["Aastha","Divya","Ziya"]
Name

['Aastha', 'Divya', 'Ziya']

In [43]:
#Creating a Series
Roll_list=pd.Series(Name,index=[1,2,3,])
print(Roll_list)

1    Aastha
2     Divya
3      Ziya
dtype: object